html,body{
    height: 100%;
    color:white;
}

nav ul{position:relative;}
.hidden {
    display: none;
}
#clock{
    display:inline-block;
    width: 20%;
}
#weather{
    display: inline-block;
    width:70% ;
    text-align: right;

}
#login-form {
    margin: auto;
    height: 30px;
    width: 50%;
    border: 3px;
    align-content: center;
}
#login-area{
    display: flex;
    justify-content: center;

}
#login-area input {
    color:white;
    border :none;
    background:transparent ;
    text-align: center;
    font-size: 50px;

}
#login-area input::placeholder{color:white;}
#login-area input:focus{
    outline: none;
    color:white;
}
#greeting {
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

#image {
    margin: auto;
    width: 100%;

    align-content: center;
}
#todo-form{
    height: 40px;
    display: flex;
    justify-content: center;
}
#todo-form input{
    color:white;
    border :none;
    background:transparent ;
    text-align: center;
    font-size: 30px;} 
#todo-form input::placeholder{color:white;}
#todo-form input:focus{
    outline: none;
    color:white;
}
#todo-list {
    list-style: none;
    text-align: center;
    padding:0 auto;
    justify-content: center;

}
#quotes {
    margin-top: 30px;;
    text-align: right;
    margin-right: 20px;
    margin-bottom: 100px;
    }
#all-clear{
    display: flex;
    justify-content: center;
    border :none;
    background:transparent ;
    color:white;
    margin-left: 80%;
    font-size: 30px;
}
a{font-size: 30px;}  
a:link{
    color:white;
    text-decoration: none;
}
a:visited{
    color:white;
    text-decoration: none;
}
a:hover{color:white;
text-decoration: none;}