.hidden {
    display: none;
}

#login-form {
    margin: auto;
    width: 50%;
    border: 3px;
    padding-left: 30%;

    align-content: center;
}

#greeting {
    margin: auto;
    width: 50%;
    border: 3px;
    padding-left: 30%;

    align-content: center;

}

#image {
    margin: auto;
    width: 100%;

    align-content: center;
}
#todo-form{
    margin: auto;
    width: 50%;
    border: 3px;
    padding-left: 30%;

    align-content: center;

}
#todo-list {
    margin: auto;
    width: 50%;
    border: 3px;
    padding-left: 30%;

    align-content: center;
}